* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(235, 228, 240);
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
}
.corpo{
    padding: 30px;
}
.botoes{
    
}
hr{
    border-color: var(--cor-texto-destaque);
}
button{
    height: fit-content;
    padding: 0.5rem;
    color: var(--cor-fundo-frente5);
    background-color: var(--cor-botao-adicionar);
    font-weight: 700;
    cursor: pointer;
    border: none;
    border-radius: 0.5em;
}
button + button{
    margin-left: 0.3rem;
}
button:hover{
    background-color: var(--cor-botao-adicionar-claro);
}
.categoria{
    position: relative;
}
.hoverDesc{
    display: none;
}
h3:hover + .hoverDesc{
    display: block;
    position: absolute;
    background-color: var(--cor-fundo-frente);
    padding: 1.5vh;
    border-radius: 1.5vh;
    z-index: 2;
    box-shadow: 2px 2px 10px var(--cor-sombra);
}
h3:hover + .hoverDesc:empty{
    display: none!important;
}
.hoverDesc::before{
    content: "";
    display: block;
    background-color: inherit;
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    position: absolute;
    z-index: -1;
    top: -10px;
}
.chara_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
    flex-wrap: wrap;
}
.chara{
    width: fit-content;
    height: fit-content;
    border-radius: 10px;
    padding: 4px;
    border: 2px dotted var(--cor-texto-destaque);
    position: relative;
}
.chara img{
    width: 9.6vw;
    height: 9.6vw;    
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}
.nome_chara{
    width: 100%;
    text-align: center;
    background-color: var(--cor-verde-dessaturado-claro);
    font-weight: 600;
    border-radius: 0px 0px 10px 10px;
    max-width: 9.6vw;
    text-wrap: nowrap;
    text-overflow: hidden;
    white-space: collapse;
}
.moverCategoria{
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: none;
    background-color: var(--cor-fundo-frente);
    z-index: 2;
    top: 20%;
    left: 120%;
    list-style: none;
    padding: 20px;
    margin: 0;
    font-weight: 500;
    box-shadow: 2px 2px 10px var(--cor-sombra);
    flex-direction: column;
}
.moverCategoria::before{
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    background-color: var(--cor-fundo-frente);
    position: absolute;
    transform: rotate(45deg);
    z-index: -1;
    top: 25%;
    left: -10%;
}
.moverCategoria::after{
    content: "";
    display: block;
    position: absolute;
    width: 20%;
    height: 100%;
    bottom: 0;
    left: -20%;
}
.moverCategoria.esquerda{
    right: 120%;
    left: auto;
}
.moverCategoria.esquerda::before{
    right: -10%;
    left: auto;
}
.moverCategoria.esquerda::after{
    right: -20%;
    left: auto;
}
a,a:visited{
    text-decoration: none;
    color: inherit;
}
.moverCategoria li{
    text-wrap: nowrap;
    text-align: center;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--cor-fundo-frente-destaque2);
    border-radius: 5px;
    cursor: pointer;
}
.moverCategoria li:hover{
    background-color: var(--cor-fundo-frente-destaque3);
}
.moverCategoria a + a{
    margin-top: 5px;
}
